// В этом файле должны быть стили для БЭМ-блока news-preview, его элементов, 
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий
@import "../../assets/styles/variables.scss";
@import "../../assets/styles/mixins.scss";

.news-preview {
	display: flex;
	position: relative;
	width: 100%;
	min-height: 665px;
	margin-bottom: 100px;

	&:last-child {
		margin-bottom: 0;
	}
}

.news-preview__info {
	background: $gray-6;
	width: calc(100% - 400px);
	padding: 75px 500px 75px 80px;
	display: flex;
	flex-direction: column;
}

.news-preview__image-wrap {
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	transition: 1s;

	&:hover {
		transform: translate(-20px, -50%);
	}
}

.news-preview__image {
	display: block;
	object-fit: cover;
	width: 800px;
	height: 510px;
}

.news-preview__date {
	font-size: 18px;
	color: $gray-2;
	margin-bottom: 65px;
}

.news-preview__title {
	font-family: $title-font;
	font-weight: 400;
	font-size: 40px;
	color: $text-color;
	margin-bottom: 35px;

	&:hover {
		color: $gray-3;
	}
}

.news-preview__content {
	font-size: 24px;
	flex-grow: 1;
	color: $gray-2;
}

.news-preview__link {
	color: $gray-2;
	font-size: 24px;
	border-bottom: 1px solid;
	margin-bottom: 50px;
	align-self: flex-start;

	&:hover {
		color: $text-color;
	}
}

@media (max-width: 1680px) {
	.news-preview {
		min-height: 500px;
		margin-bottom: 70px;
	}
	.news-preview__image {
		width: 600px;
		height: 410px;
	}
	.news-preview__content {
		font-size: 20px;
	}
	.news-preview__link {
		font-size: 20px;
	}
	.news-preview__info {
		width: calc(100% - 300px);
		padding: 45px 350px 45px 50px;
	}
}

@media (max-width: 1439px) {
	.news-preview {
		min-height: 400px;
	}
	.news-preview__image {
		width: 450px;
		height: 310px;
	}
	.news-preview__info {
		width: calc(100% - 225px);
		padding: 35px 275px 35px 40px;
	}
	.news-preview__date {
		margin-bottom: 35px;
	}
	.news-preview__title {
		font-size: 30px;
	}
	.news-preview__content {
		font-size: 18px;
		margin-bottom: 15px;
	}
	.news-preview__link {
		font-size: 18px;
		margin-bottom: 10px;
	}
}

@media (max-width: 1199px) {
	.news-preview__image {
		width: 300px;
		height: 200px;
	}
	.news-preview__info {
		width: calc(100% - 100px);
		padding: 35px 250px 35px 40px;
	}
}

@media (max-width: 991px) {
	.news-preview {
		flex-direction: column-reverse;
		min-height: unset;
	}
	.news-preview__image-wrap {
		position: static;
		transform: none;
		overflow: hidden;

		&:hover {
			transform: none;
			img {
				transform: scale(1.2);
			}
		}
	}
	.news-preview__image {
		width: 100%;
		height: auto;
		transition: 1.3s;
	}
	.news-preview__info {
		width: 100%;
		padding: 25px;
	}
	.news-preview__date {
		margin-bottom: 18px;
	}
	.news-preview__title {
		font-size: 24px;
		margin-bottom: 15px;
	}
	.news-preview__link {
		display: none;
	}
	.news-preview__content {
		margin-bottom: 5px;
	}
}

@media (max-width: 768px) {
	.news-preview {
		margin-bottom: 40px;
	}
	.news-preview__date {
		font-size: 14px;
		margin-bottom: 15px;
	}
	.news-preview__info {
		padding: 20px;
	}
	.news-preview__content {
		font-size: 16px;
	}
}