// В этом файле должны быть стили для БЭМ-блока page, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий
@import "../../assets/styles/variables.scss";
@import "../../assets/styles/mixins.scss";

.page {
	background: $bg-color url(../img/bg-stars.jpg) repeat-y 50% 50% / contain;
	font-family: "Raleway", sans-serif;
	color: #fff;
	font-size: 14px;
	font-weight: 500;
	position: relative;
	z-index: 1;
	overflow-x: hidden;
}

.page__container {
	@include  container;
}

.page__title {
	font-size: 68px;
	line-height: 1.2;
	font-weight: 800;
	max-width: 960px;
	margin: 240px auto 30px;
	text-align: center;

	@media (max-width: 1240px) {
		margin-top: 120px;
		font-size: 42px;
	}

	@media (max-width: 767px) {
		font-size: 24px;
		max-width: 500px;
	}

	@media (max-width: 425px) {
		margin-top: 47px;
	}

}

.page__subtitle {
	font-size: 24px;
	line-height: 1.2;
	max-width: 720px;
	text-align: center;
	margin: 0 auto 190px;

	@media (max-width: 1240px) {
		font-size: 20px;
	}

	@media (max-width: 767px) {
		font-size: 12px;
		max-width: 400px;
		margin-bottom: 120px;
		line-height: 1.4;
	}

	@media (max-width: 425px) {
		max-width: 300px;
		margin-bottom: 75px;
	}
}
