// В этом файле должны быть стили для БЭМ-блока page, его элементов, 
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий
@import "../../assets/styles/variables.scss";
@import "../../assets/styles/mixins.scss";

.page {}
