// В этом файле должны быть стили для БЭМ-блока page, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий
@import "../../assets/styles/variables.scss";
@import "../../assets/styles/mixins.scss";

.page {
	background-color: $bg-color;
	font-family: "Raleway", sans-serif;
	color: #fff;
	font-size: 14px;
	font-weight: 500;

	min-height: 100vh;
}

.page__title {
	font-size: 68px;
	line-height: 1.2;
	font-weight: 800;
	max-width: 960px;
	margin: 240px auto 30px;
	text-align: center;
}

.page__subtitle {
	font-size: 24px;
	line-height: 1.2;
	max-width: 720px;
	text-align: center;
	margin: 0 auto 190px;
}
