// В этом файле должны быть стили для БЭМ-блока products-category, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий
@import "../../assets/styles/variables.scss";
@import "../../assets/styles/mixins.scss";

.products-category {
	max-width: 1175px;
	margin: 0 auto;
}

.products-category__container {
	@include container;
}

.products-category__title {
	margin-top: 40px;
	margin-bottom: 60px;
	font-family: $title-font;
	font-size: 60px;

	@media (max-width: 991px) {
		font-size: 40px;
		padding-left: 10px;
		padding-right: 10px;
	}

	@media (max-width: 768px) {
		font-size: 24px;
	}
}
