// В этом файле должны быть стили для БЭМ-блока article, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий
@import "../../assets/styles/variables.scss";
@import "../../assets/styles/mixins.scss";

.article {
	font-size: 18px;
	font-family: $main-font;
	line-height: 1.3;

	p {
		margin-bottom: 25px;
	}
}
