// В этом файле должны быть стили для БЭМ-блока selection-slider, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий
@import "../../assets/styles/variables.scss";
@import "../../assets/styles/mixins.scss";

.selection-slider {
	margin-right: 60px;
	margin-bottom: 20px;
	margin-left: -10px;

	.slick-prev.slick-arrow {
		display: none !important;
	}

	.slick-next.slick-arrow {
		right: -60px;
		top: 50%;
	}
}

.selection-slider__item {
	margin: 10px;
	display: block;
	width: 60px;
	height: 60px;
	border: 2px solid transparent;
	border-radius: 10px;
	overflow: hidden;

	&.active {
		border-color: #fff;
		box-shadow: 0 0 9px rgba(0, 0, 0, 0.5);
	}

	&:not(.active):hover {
		transform: scale(1.2);
	}

	@at-root .selection-slider--texture #{&} {
		&:not(.active):hover {
			transform: scale(1.2);

			.selection-slider__img {

				&:hover {
					transform: scale(2);
				}
			}
		}
	}
}

.selection-slider__img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: 0.3s;
}
