// В этом файле должны быть стили для БЭМ-блока product-card, его элементов, 
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий
@import "../../assets/styles/variables.scss";
@import "../../assets/styles/mixins.scss";

.product-card {
	background: $gray-8;
	display: flex;
	flex-direction: column;
	padding: 30px;
}

.product-card__category {
	font-size: 14px;
	text-transform: uppercase;
	color: $gray-3;
	margin-bottom: 40px;

	&:hover, &:focus {
		color: $text-color;
	}
}

.product-card__img-wrap {
	flex-grow: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 30px;

	&:hover {
		img {
			transform: scale(1.05);
		}
	}
}

.product-card__img {
	transition: 0.6s;
}

.product-card__title {
	font-size: 18px;
	font-weight: 400;
	color: $text-color-alt;
	margin-bottom: 5px;
}

@media (max-width: 1439px) {
	.product-card {
		padding: 20px;
		min-height: 250px;

		&__img {
			max-height: 170px;
		}

		&__img-wrap {
			margin-bottom: 20px;
		}
	}
}

@media (max-width: 768px) {
	.product-card {
		padding: 10px;

		&__img {
			max-height: 140px;
		}

		&__img-wrap {
			margin-bottom: 10px;
			flex-grow: 0;
		}

		&__category {
			font-size: 12px;
			margin-bottom: 15px;
		}

		&__title {
			font-size: 14px;
			font-family: $title-font;
			flex-grow: 1;
		}

		&__price {
			font-size: 12px;
		}
	}
}