// В этом файле должны быть стили для БЭМ-блока our-advantages, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий
@import "../../assets/styles/variables.scss";
@import "../../assets/styles/mixins.scss";

.our-advantages {
	@include container;
}

.our-advantages__title {
	font-size: 48px;
	line-height: 1.1;
	font-weight: 800;
	margin-bottom: 60px;
	text-align: center;
}

.our-advantages__list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-left: -30px;
	margin-right: -30px;
}

.our-advantages__item {
	width: 100%;
	max-width: 485px;
	margin: 0 30px 48px;
	padding-left: 45px;
}

.our-advantages__item-title {
	color: $thrush-egg-color;
	font-size: 32px;
	line-height: 1.1;
	font-weight: 700;
	margin-bottom: 12px;
}

.our-advantages__item-text {
	font-size: 24px;
	line-height: 1.2;
}
