// В этом файле должны быть стили для БЭМ-блока to-top, его элементов, 
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий
@import "../../assets/styles/variables.scss";
@import "../../assets/styles/mixins.scss";

.to-top {
	width: 80px;
	height: 80px;
	background: none;
	border: none;
	border-radius: 50%;
	cursor: pointer;
	outline: none;
	transition: 0.5s;

	&:hover {
		background: $gray-9;
	}
}
