// В этом файле должны быть стили для БЭМ-блока video, его элементов, 
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий
@import "../../assets/styles/variables.scss";
@import "../../assets/styles/mixins.scss";

.video {
	position: relative;
	margin-bottom: 50px;

	/*&:after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(0, 0, 0, 0.5);
	}*/

	video {
		display: block;
		max-width: 100%;
	}
}

.video__play-btn {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 0;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	background: $light;
	border: none;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	transition: 0.3s;
	outline: none;
	z-index: 2;

	&:focus, &:hover {
		box-shadow: $pressed-shadow;
		background: $gray-3;
		opacity: 0.8;
	}
}

.video__play-icon {
	position: relative;
	right: -3px;
}

@media (max-width: 1199px) {
	.video__play-btn {
		width: 65px;
		height: 65px;
	}
	.video__play-icon {
		width: 18px;
		right: -1px;
	}
}