// В этом файле должны быть стили для БЭМ-блока header, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий
@import "../../assets/styles/variables.scss";
@import "../../assets/styles/mixins.scss";

.header {
	background-color: $main-color;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.52);
}

.header__container {
	@include container;
}

.header__flex {
	display: flex;
	justify-content: space-between;
	margin-left: -40px;
	margin-right: -40px;
}

.header__box {
	flex-grow: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 25px 40px;

	&:not(:last-of-type) {
		border-right: 1px solid $second-color;
	}
}

.header__logo-link {
	display: flex;
	align-items: center;
	justify-content: center;
}

.header__logo-star {
	animation: 2s linear 0s normal none infinite running rot;
}

@keyframes rot {
	0% {
		transform: rotateY(0deg);
	}
	100% {
		transform: rotateY(360deg);
	}
}

.header__logo-text {
	margin-left: 2px;
	margin-top: 3px;
}

.header__social {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: -7px;
	margin-right: -7px;
}

.header__social-link {
	text-decoration: unset;
	margin-left: 7px;
	margin-right: 7px;

	path {
		transition: 0.3s;
	}

	&:hover {
		path {
			fill: #fff;
		}
	}
}

.header__lang-switcher {
	display: flex;
	align-items: center;
	justify-content: center;
}

.header__lang {
	padding: 9px;
	background-color: transparent;
	border-radius: 3px;
	text-decoration: unset;
	color: inherit;
	transition: 0.3s;
	border: 1px solid transparent;

	&:not(.header__lang--active):hover {
		border: 1px solid white;
	}

	&--active {
		background-color: $second-color;
		pointer-events: none;
	}
}

.header__sign-in {
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: unset;
	color: inherit;

	span, svg path {
		transition: .3s;
	}


	span {
		margin-left: 10px;
		color: inherit;
	}

	&:hover {
		span {
			color: $hover-color;
		}

		svg {
			path {
				fill: $hover-color;
			}
		}
	}
}

.header__mob-menu {
	display: flex;
}
