// В этом файле должны быть стили для БЭМ-блока socials, его элементов, 
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий
@import "../../assets/styles/variables.scss";
@import "../../assets/styles/mixins.scss";

.socials {
	display: flex;
	align-items: center;
}

.socials__link {
	width: 28px;
	height: 28px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 15px;

	svg {
		width: 100%;
		height: auto;
	}

	&:hover {
		path {
			fill: $gray-1;
			opacity: 0.7;
		}
	}
}