// В этом файле должны быть стили для БЭМ-блока main-banner, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий
@import "../../assets/styles/variables.scss";
@import "../../assets/styles/mixins.scss";

.main-banner {
	@include container;

	padding-top: 20px;
	padding-bottom: 20px;
}
