// В этом файле должны быть стили для БЭМ-блока intro-slider, его элементов, 
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий
@import "../../assets/styles/variables.scss";
@import "../../assets/styles/mixins.scss";

.intro-slider {}
