// В этом файле должны быть стили для БЭМ-блока intro-slider, его элементов, 
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий
@import "../../assets/styles/variables.scss";
@import "../../assets/styles/mixins.scss";

.intro-slider {}

.intro-slider__item {
	position: relative;
}

.intro-slider__item-image {
	width: 100%;
	height: 100%;
	object-fit: cover;
	top: 0;
	left: 0;
}

.intro-slider__item-info {
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 0 300px 45px 250px;
	color: $gray-8;
}

.intro-slider__item-title {
	font-family: $title-font;
	font-size: 60px;
	font-weight: 300;
	margin-bottom: 20px;
}

.intro-slider__item-desc {
	max-width: 700px;
	font-size: 16px;
	font-family: $main-font;
	line-height: 1.4;
}