// В этом файле должны быть стили для БЭМ-блока projects-slider, его элементов, 
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий
@import "../../assets/styles/variables.scss";
@import "../../assets/styles/mixins.scss";

.projects-slider {}

.projects-slider__slide {
	padding-right: 20px;

	&:not(.slick-active) {
		opacity: 0.2;

		.projects-slider__slide-caption {
			visibility: hidden;
			opacity: 0;
		}
	}
}

.projects-slider__slide-image {
	display: block;
	width: 100%;
	height: 395px;
	object-fit: cover;
	margin-bottom: 25px;
}

.projects-slider__slide-caption {
	color: $gray-5;
	font-size: 18px;
	font-weight: 300;
	transition: 0.3s;
}

@media (max-width: 1679px) {
	.projects-slider__slide-image {
		height: 300px;
	}
}

@media (max-width: 768px) {
	.projects-slider__slide {
		padding-right: 10px;
	}
	.projects-slider__slide-image {
		height: 125px;
		margin-bottom: 6px;
	}
	.projects-slider__slide-caption {
		font-size: 12px;
	}
}