// В этом файле должны быть стили для БЭМ-блока layout, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий
@import "../../assets/styles/variables.scss";
@import "../../assets/styles/mixins.scss";

.layout {
	width: 100%;
	min-height: 100vh;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	position: relative;

	&:first-of-type {
		padding-top: 80px;
	}
}

.layout__row {
	display: flex;
	align-items: stretch;
	flex-grow: 1;
}

.layout__l-side {
	width: 140px;
	min-width: 140px;
	border-right: 1px solid $gray-5;
	z-index: 2;
	background-color: #fff;
	position: relative;
}

.layout__content {
	flex: 1;
	flex-direction: column;
	overflow: hidden;
	border-right: 1px solid $gray-5;
}

.layout__r-side {
	width: 80px;
	min-width: 80px;
	position: relative;

	.lang-toggler {
		position: absolute;
		top: calc(100vh - 80px);
		right: 0;
		padding: 30px 20px;
		transform: translateY(-100%);
	}
}

.layout__to-top {
	position: fixed;
	bottom: 20px;
	left: 30px;
}

.layout--slider {
	z-index: 5;

	.header {
		background: rgba(255, 255, 255, .1);
		position: absolute;
		z-index: 5;
	}

	.header__logo-wrap, .header__menu-btn {
		path {
			fill: $light
		}

		&:hover {
			path {
				fill: $gray-5
			}
		}
	}

	.header__menu-btn {
		background: none;
	}

	.intro-slider__item {
		height: calc(100vh + 80px);
	}

	.layout__slider {
		position: absolute;
		top: -80px;
		left: 0;
		width: 100%;
		height: calc(100% + 80px);
	}

	.layout__l-side {
		background: rgba(255, 255, 255, .1);
		z-index: 4;
	}

	.layout__content {
		border-right: 0;
	}

	.layout__r-side {
		background: linear-gradient(to top, rgba(255, 255, 255, 0.9), transparent 40%, transparent);
		border-left: 1px solid $gray-5;
		z-index: 4;
	}

	.header__menu-btn-wrap {
		background: rgba(255, 255, 255, .1);
	}

	.lang-toggler {
		position: absolute;
	}
}

@media (max-width: 991px) {
	.layout {

		&:first-of-type {
			padding-top: 66px;
		}

		.lang-toggler {
			display: none;
		}
	}
	.layout__l-side {
		width: 0;
		border: none;
		min-width: unset;
	}
	.layout__r-side {
		width: 0;
		min-width: unset;
	}
	.layout__content {
		border: none;
	}
	.layout__to-top {
		display: none;
	}
	.layout--slider {
		.header {
			border-bottom: none;
		}
		.header__logo-wrap {
			background: rgba(34, 34, 34, 0.9);
			border: none;
			display: flex !important;
		}
		.header__menu-btn-wrap {
			background: rgba(34, 34, 34, 0.9);
			border: none;
		}
		.layout__l-side {
			display: none;
		}
		.layout__r-side {
			border: 0;
		}
	}
}
