// В этом файле должны быть стили для БЭМ-блока category-info, его элементов, 
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий
@import "../../assets/styles/variables.scss";
@import "../../assets/styles/mixins.scss";

.category-info {
	@include container;
	max-width: 1188px;
	margin-bottom: 100px;
}

.category-info__cards {
	display: flex;
	margin-bottom: 80px;
}

.category-info__image-wrap {
	width: calc(50% - 4px);
	margin-right: 8px;

	img {
		width: 100%;
		height: auto;
		object-fit: cover;
	}
}

.category-info__link-wrap {
	width: calc(50% - 4px);
	background: $gray-6;
	display: flex;
	align-items: center;
	justify-content: center;
}

.category-info__link {
	display: flex;
	width: 300px;
	align-items: center;
	justify-content: center;
	border: 1px solid $gray-3;
	font-size: 16px;
	font-family: $title-font;
	font-weight: 400;
	color: $text-color;
	padding: 22px 30px;

	svg {
		margin-left: 30px;
		transition: 0.5s;
	}

	&:hover {
		svg {
			transform: translateX(10px);
		}
	}
}

.category-info__desc {
	font-size: 18px;
	line-height: 1.5;
	color: #707070;
}

@media (max-width: 1439px) {
	.category-info__cards {
		margin-bottom: 40px;
	}
}

@media (max-width: 768px) {
	.category-info {
		padding: 0 20px;
	}
	.category-info__cards {
		flex-direction: column;
		margin: 0 -20px 20px;
		width: calc(100% + 40px);
	}
	.category-info__image-wrap {
		width: 100%;
		margin: 0;
		max-height: 250px;
		min-height: 250px;
		margin-bottom: 10px;

		img {
			height: 250px;
		}
	}
	.category-info__link-wrap {
		width: 100%;
		min-height: 200px;
	}
	.category-info__link {
		padding: 15px 30px;
	}
	.category-info__desc {
		font-size: 15px;
		color: #222;
	}
}