// В этом файле должны быть стили для БЭМ-блока news-card, его элементов, 
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий
@import "../../assets/styles/variables.scss";
@import "../../assets/styles/mixins.scss";

.news-card {
	background: $gray-8;
	margin: 0 10px;
	padding: 30px;
	display: flex !important;
	flex-direction: column;
	align-items: flex-start;
}

.news-card__label {
	background: $gray-2;
	color: $light;
	padding: 6px 23px;
	font-size: 14px;
	margin-bottom: 25px;

	&:hover {
		background: $gray-1;
	}
}

.news-card__title {
	font-size: 32px;
	font-weight: 400;
	font-family: $title-font;
	margin-bottom: 3px;
	color: $text-color;
	margin-left: 18px;

	&:hover {
		color: $gray-2;
	}
}

.news-card__pubdate {
	font-size: 14px;
	color: $gray-3;
	margin-bottom: 30px;
	margin-left: 18px;
}

.news-card__preview {
	font-size: 16px;
	color: $gray-1;
	line-height: 1.4;
	margin-left: 18px;
}

@media (max-width: 1199px) {
	.news-card {
		padding: 25px 20px 40px;
	}
	.news-card__title {
		margin-left: 0;
	}
	.news-card__pubdate {
		margin-left: 0;
	}
	.news-card__preview {
		margin-left: 0;
	}
}

@media (max-width: 768px) {
	.news-card__label {
		margin-bottom: 15px;
	}
	.news-card__title {
		font-size: 26px;
	}
	.news-card__pubdate {
		margin-bottom: 15px;
	}
}