@font-face {
	font-family: 'Merriweather';
	src: url('../fonts/Merriweather-Regular.eot');
	src: local('Merriweather Regular'), local('Merriweather-Regular'),
	url('../fonts/Merriweather-Regular.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Merriweather-Regular.woff2') format('woff2'),
	url('../fonts/Merriweather-Regular.woff') format('woff'),
	url('../fonts/Merriweather-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Merriweather';
	src: url('../fonts/Merriweather-Bold.eot');
	src: local('Merriweather Bold'), local('Merriweather-Bold'),
	url('../fonts/Merriweather-Bold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Merriweather-Bold.woff2') format('woff2'),
	url('../fonts/Merriweather-Bold.woff') format('woff'),
	url('../fonts/Merriweather-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Merriweather';
	src: url('../fonts/Merriweather-Light.eot');
	src: local('Merriweather Light'), local('Merriweather-Light'),
	url('../fonts/Merriweather-Light.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Merriweather-Light.woff2') format('woff2'),
	url('../fonts/Merriweather-Light.woff') format('woff'),
	url('../fonts/Merriweather-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Merriweather';
	src: url('../fonts/Merriweather-Black.eot');
	src: local('Merriweather Black'), local('Merriweather-Black'),
	url('../fonts/Merriweather-Black.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Merriweather-Black.woff2') format('woff2'),
	url('../fonts/Merriweather-Black.woff') format('woff'),
	url('../fonts/Merriweather-Black.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Nunito';
	src: url('../fonts/Nunito-Light.eot');
	src: local('Nunito Light'), local('Nunito-Light'),
	url('../fonts/Nunito-Light.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Nunito-Light.woff2') format('woff2'),
	url('../fonts/Nunito-Light.woff') format('woff'),
	url('../fonts/Nunito-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Nunito';
	src: url('../fonts/Nunito-SemiBold.eot');
	src: local('Nunito SemiBold'), local('Nunito-SemiBold'),
	url('../fonts/Nunito-SemiBold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Nunito-SemiBold.woff2') format('woff2'),
	url('../fonts/Nunito-SemiBold.woff') format('woff'),
	url('../fonts/Nunito-SemiBold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Nunito';
	src: url('../fonts/Nunito-Regular.eot');
	src: local('Nunito Regular'), local('Nunito-Regular'),
	url('../fonts/Nunito-Regular.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Nunito-Regular.woff2') format('woff2'),
	url('../fonts/Nunito-Regular.woff') format('woff'),
	url('../fonts/Nunito-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Nunito';
	src: url('../fonts/Nunito-Bold.eot');
	src: local('Nunito Bold'), local('Nunito-Bold'),
	url('../fonts/Nunito-Bold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Nunito-Bold.woff2') format('woff2'),
	url('../fonts/Nunito-Bold.woff') format('woff'),
	url('../fonts/Nunito-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

