// Миксин для ограничения контейнера блока
@mixin container {
	width: 100%;
max-width: 1250px;
	padding: 0 20px;
	margin: 0 auto;
	box-sizing: border-box;

	@media (max-width: 991px) {
		padding: 0 10px;
	}
}
