@import "variables.scss";
@import "mixins.scss";

html {
	box-sizing: border-box;
}

// Экспериментально для отмены проскролла на элементах форм в iOS Safari
@media (max-width: 600px) {
	html {
		height: 100%;
		overflow: scroll;
		-webkit-overflow-scrolling: touch;
	}
}

//----------------------------------------------------------------------

*, *::before, *::after {
	box-sizing: inherit;
	//transition: 0.3s;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

img.lazy {
	transition: 0s;
}

img.lazy[data-src] {
	opacity: 0;
}

body {
	font-family: 'Nunito', Arial, sans-serif;
	font-size: 18px;
	color: $text-color;
}

a {
	text-decoration: none;
	transition: 0.3s;
}

.button {
	transition: 0.3s;
}

path {
	transition: 0.3s;
}

input,
select,
textarea {
	-webkit-appearance: none;
}

.visually-hidden {
	clip: rect(0 0 0 0);
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	position: absolute;
	white-space: nowrap;
	overflow: hidden;
}

.hidden {
	display: none;
}

.invisible {
	visibility: hidden;
}

.container {
	@include container;
}
