// assets and script style addons
@import "libs/nice-select.scss";

@import "../../blocks/catalog/catalog.scss";
@import "../../blocks/footer/footer.scss";
@import "../../blocks/breadcrumb/breadcrumb.scss";
@import "../../blocks/catalog-filter/catalog-filter.scss";
