@import "../../blocks/article/article.scss";
@import "../../blocks/products-category/products-category.scss";
@import "../../blocks/product/product.scss";
@import "../../blocks/button/button.scss";
@import "../../blocks/contacts/contacts.scss";
@import "../../blocks/product-filter/product-filter.scss";
@import "../../blocks/selection-slider/selection-slider.scss";
@import "../../blocks/order-goods/order-goods.scss";
@import "../../blocks/modal/modal.scss";
@import "../../blocks/product-slider/product-slider.scss";
