// assets and script style addons
@import "libs/jquery.fancybox.scss";
@import "libs/slick.scss";
@import "libs/nice-select.scss";

// global styles
@import "reset.scss";
@import "variables.scss";
@import "mixins.scss";
@import "scaffolding.scss";
@import "fonts.scss";

// BEM blocks
@import "../../blocks/breadcrumb/breadcrumb.scss";
@import "../../blocks/card-grid/card-grid.scss";
@import "../../blocks/catalog/catalog.scss";
@import "../../blocks/catalog-filter/catalog-filter.scss";
@import "../../blocks/category-card/category-card.scss";
@import "../../blocks/category-info/category-info.scss";
@import "../../blocks/footer/footer.scss";
@import "../../blocks/form/form.scss";
@import "../../blocks/header/header.scss";
@import "../../blocks/intro-slider/intro-slider.scss";
@import "../../blocks/lang-toggler/lang-toggler.scss";
@import "../../blocks/layout/layout.scss";
@import "../../blocks/menu/menu.scss";
@import "../../blocks/news/news.scss";
@import "../../blocks/news-card/news-card.scss";
@import "../../blocks/news-detail/news-detail.scss";
@import "../../blocks/news-preview/news-preview.scss";
@import "../../blocks/news-slider/news-slider.scss";
@import "../../blocks/portfolio-preview/portfolio-preview.scss";
@import "../../blocks/product-card/product-card.scss";
@import "../../blocks/projects/projects.scss";
@import "../../blocks/projects-slider/projects-slider.scss";
@import "../../blocks/socials/socials.scss";
@import "../../blocks/quotes-slider/quotes-slider.scss";
@import "../../blocks/to-top/to-top.scss";
@import "../../blocks/video/video.scss";
@import "../../blocks/video-section/video-section.scss";
@import "../../blocks/article/article.scss";
@import "../../blocks/products-category/products-category.scss";
@import "../../blocks/product/product.scss";
@import "../../blocks/button/button.scss";
@import "../../blocks/contacts/contacts.scss";
@import "../../blocks/product-filter/product-filter.scss";
@import "../../blocks/selection-slider/selection-slider.scss";
@import "../../blocks/order-goods/order-goods.scss";
@import "../../blocks/modal/modal.scss";
@import "../../blocks/product-slider/product-slider.scss";

