
// global styles
@import "reset.scss";
@import "variables.scss";
@import "mixins.scss";
@import "scaffolding.scss";
@import "fonts.scss";

// BEM blocks
@import "../../blocks/page/page.scss";
@import "../../blocks/header/header.scss";
@import "../../blocks/nav/nav.scss";
@import "../../blocks/footer/footer.scss";
@import "../../blocks/main-banner/main-banner.scss";
@import "../../blocks/button/button.scss";
@import "../../blocks/authentication/authentication.scss";
@import "../../blocks/our-advantages/our-advantages.scss";

