$bg-color: #ffffff;
$light: #ffffff;
$text-color: #222222;
$text-color-alt: #181818;

$gray-1: #535458;
$gray-2: #707070;
$gray-3: #868686;
$gray-4: #D3D3D3;
$gray-5: #DDDDDD;
$gray-6: #E7E7E7;
$gray-7: #F2F3F7;
$gray-8: #F5F5F5;
$gray-9: #F8F8F8;

// Accent Backgrounds
$accent-olive: #69645A;
$accent-blue: #D2E2EE;

// Pastel cards
$pastel-blue: rgba(199, 215, 228, 0.5);
$pastel-green: rgba(239, 241, 230, 0.5);
$pastel-pink: rgba(223, 214, 217, 0.5);
$pastel-orange: rgba(223, 215, 202, 0.5);
$pastel-beige: rgba(246, 244, 244, 1);

// Fonts
$title-font: 'Merriweather', 'Times New Roman', serif;
$main-font: 'Nunito', 'Arial', sans-serif;

// Shadows
$pressed-shadow: inset 0px 7px 12px -3px rgba(0, 0, 0, 0.2);
