// В этом файле должны быть стили для БЭМ-блока quotes-slider, его элементов, 
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий
@import "../../assets/styles/variables.scss";
@import "../../assets/styles/mixins.scss";

.quotes-slider {
	max-width: 850px;
	margin: 0 auto;
	padding: 50px 0 150px;
}

.quotes-slider__item {
	flex-direction: column;
	text-align: center;
	align-items: center;

	&.slick-slide {
		display: flex;
	}
}
.quotes-slider__item-title {
	font-size: 42px;
	font-weight: 700;
	font-family: $title-font;
	margin-bottom: 3px;
}

.quotes-slider__item-desc {
	text-transform: uppercase;
	color: $gray-2;
	font-size: 16px;
	margin-bottom: 40px;
}

.quotes-slider__item-content {
	font-size: 18px;
	color: $gray-3;
	line-height: 1.5;

	p {
		margin-bottom: 12px;

		&:last-child {
			margin-bottom: 0;
		}
	}
}

@media (max-width: 1199px) {
	.quotes-slider {
		@include container;
		margin-bottom: 100px;
	}
}

@media (max-width: 991px) {
	.quotes-slider {
		margin-top: 50px;
	}
}

@media (max-width: 768px) {
	.quotes-slider {
		margin-bottom: 80px;
	}
	.quotes-slider__item-title {
		font-size: 24px;
		font-weight: 900;
		margin-bottom: 5px;
	}
	.quotes-slider__item-desc {
		font-size: 14px;
		max-width: 260px;
		line-height: 1.4;
		color: $text-color;
		margin-bottom: 20px;
	}
	.quotes-slider__item-content {
		font-size: 14px;
		color: $text-color;
	}
}