// В этом файле должны быть стили для БЭМ-блока news-slider, его элементов, 
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий
@import "../../assets/styles/variables.scss";
@import "../../assets/styles/mixins.scss";

.news-slider {
	@include container;
	padding: 60px 90px 100px;

	.slick-prev {
		left: -70px;
	}

	.slick-next {
		right: -70px;
	}
}


@media (max-width: 991px) {
	.news-slider {
		padding: 50px 90px;
	}
}

@media (max-width: 768px) {
	.news-slider {
		padding: 40px 0;

		.slick-arrow {
			width: 40px;
			height: 40px;
			opacity: 0.7;
			top: 55%;

			&:focus {
				opacity: 1;
			}
		}
		.slick-prev {
			left: 15px;
			background-color: $light;
		}
		.slick-next {
			right: 15px;
			background-color: $light;
		}
	}
}