// В этом файле должны быть стили для БЭМ-блока modal, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий
@import "../../assets/styles/variables.scss";
@import "../../assets/styles/mixins.scss";

.modal {

	.fancybox-button {
		width: 62px;
		height: 62px;
		background: white;
		top: 10px;
		right: 10px;
	}

	@media (max-width: 768px) {
		min-height: 100vh;
	}
}

.modal__success {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #fff;
	padding: 40px;

	&.active {
		display: block;
	}
}

.modal__success-flex {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100%;
}

.modal__success-title {
	font-size: 40px;
	text-align: center;
	font-weight: 400;
	margin-bottom: 36px;
}

.modal__success-text {
	font-size: 14px;
	line-height: 1.3;
	margin-bottom: 60px;
	max-width: 360px;
	text-align: center;
	color: $gray;
}

.modal__success-btn {
	width: 100%;
	max-width: 225px;
}
