// В этом файле должны быть стили для БЭМ-блока card-grid, его элементов, 
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий
@import "../../assets/styles/variables.scss";
@import "../../assets/styles/mixins.scss";

.card-grid {
	@include container;
	display: flex;
	flex-wrap: wrap;
	padding: 0 12px;
	margin-top: 40px;
	margin-bottom: 100px;
}

.card-grid__item {
	width: calc(25% - 16px);
	margin: 0 8px 16px;
	position: relative;

	background: $gray-8;
	padding: 50px 50px 60px;
	display: flex;
	flex-direction: column;

	&--wide {
		width: calc(50% - 16px);
	}
}

.card-grid__item-header {
	display: flex;
	align-items: center;
	margin-bottom: 45px;

	svg {
		margin-right: 25px;
	}
}

.card-grid__item-header-info {
	display: flex;
	flex-direction: column;
}

.card-grid__item-title {
	font-family: $title-font;
	font-size: 32px;
	color: $text-color;

	&:hover, &:focus {
		color: $gray-1;
	}
}

.card-grid__item-desc {
	text-transform: uppercase;
	font-size: 14px;
	color: $gray-2;
}

.card-grid__item-content {
	font-size: 18px;
	line-height: 1.5;
	max-width: 550px;
	flex-grow: 1;
	margin-bottom: 15px;
}

.card-grid__item-link {
	font-size: 14px;
	text-transform: uppercase;
	color: $gray-2;
	border-bottom: 1px solid;
	align-self: flex-start;

	&:hover, &:focus {
		color: $text-color;
	}
}

@media (max-width: 1439px) {
	.card-grid {

		&__item-header {
			margin-bottom: 25px;
		}
	}
}

@media (max-width: 1199px) {
	.card-grid {
		margin-bottom: 45px;

		&__item {
			padding: 20px;
		}

		&__item-header {

			svg {
				width: 40px;
				height: 40px;
			}
		}

		&__item-title {
			font-size: 26px;
		}

		&__item-content {
			font-size: 16px;
		}
	}
}

@media (max-width: 991px) {
	.card-grid {
		margin: 40px -5px 50px;
		min-width: calc(100% + 10px);

		&__item {
			width: calc(50% - 10px);
			margin: 0 5px 10px;
			order: 2;
			min-height: 220px;

			&--wide {
				width: calc(100% - 10px);
				order: 1;

				&:nth-child(n+3) {
					order: 3;
				}
			}
		}
	}
}

@media (max-width: 768px) {
	.card-grid {
		&__item {
			min-height: 0;
		}
		&__item-icon {
			display: none;
		}
		&__item-title {
			font-size: 18px;
			margin-bottom: 6px;
		}
		&__item-desc {
			font-size: 12px;
		}
		&__item-header {
			margin-bottom: 20px;
		}
		&__item-content {
			font-size: 14px;
		}
		&__item-link {
			font-size: 11px;
		}
	}
}