// В этом файле должны быть стили для БЭМ-блока category-card, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий
@import "../../assets/styles/variables.scss";
@import "../../assets/styles/mixins.scss";

.category-card {
	background: $gray-6;
	border: 1px solid $gray-6;
	padding: 40px 30px;
	min-height: 320px;
	max-height: 320px;

	&:hover {
		background: $gray-8;
		border: 1px solid $gray-4;

		.category-card__image {
			left: calc(50% + 15px);
		}
	}

	@media (max-width: 991px) {
		width: 100% !important;
		justify-content: center;
		margin-bottom: 60px;
	}

	@media (max-width: 768px) {
		max-width: 500px;
		margin-left: auto;
		margin-right: auto;

		.category-card__image {
			left: calc(65% + 10px);
		}
	}
}

.category-card__title {
	display: block;
	font-family: $title-font;
	color: $text-color;
	font-size: 32px;
	margin-bottom: 12px;
	font-weight: 400;
}

.category-card__title-add {
	color: $text-color-alt;
	font-family: $main-font;
	font-size: 14px;
}

.category-card__image {
	display: block;
	position: absolute;
	max-width: calc(100% - 80px);
	max-height: 100%;
	top: calc(50% + 35px);
	left: calc(50% + 30px);
	transform: translate(-50%, -50%);
	transition: 0.6s;
	z-index: 1;
}

@media (max-width: 1439px) {
	.category-card {
		padding: 20px;
		min-height: 250px;

		&__title {
			font-size: 26px;
			margin-bottom: 6px;
		}

		&__image {
			left: 50%;
		}
	}
}

@media (max-width: 1199px) {
	.category-card {

		&__title {
			font-size: 20px;
			margin-bottom: 3px;
		}
	}
}

@media (max-width: 991px) {
	.category-card {

		&__image {
			z-index: 2;
			top: calc(50% + 15px);
		}
	}
}

@media (max-width: 768px) {
	.category-card {
		padding: 10px;
		min-height: 140px;
		max-height: 140px;

		&__title {
			font-size: 14px;
			z-index: 3;
			position: relative;

			.card-grid__item--wide & {
				font-size: 18px;
			}
		}

		&__title-add {
			display: none;
		}

		&__image {
			top: calc(50% + 10px);
			left: calc(50% + 10px);
			height: 100%;
			object-fit: contain;
			max-width: calc(100% - 40px);
		}
	}
}
