// В этом файле должны быть стили для БЭМ-блока video-section, его элементов, 
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий
@import "../../assets/styles/variables.scss";
@import "../../assets/styles/mixins.scss";

.video-section {
	max-width: 1148px;
	margin: 0 auto;
	padding: 120px 0;

	&--has-gray-cover {
		position: relative;
		padding: 70px 0;
		margin-top: 150px;

		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: 50%;
			height: 800px;
			width: 100vw;
			transform: translateX(-50%);
			background: $gray-6;
			z-index: -1;
		}
	}
}

.video-section__title {
	font-size: 42px;
	font-family: $title-font;
	font-weight: 700;
	max-width: 850px;
	margin-bottom: 80px;
	margin-left: 40px;
}

.video-section__info {
	padding: 0 40px;
	max-width: 920px;
}

.video-section__info-title {
	font-size: 42px;
	font-family: $title-font;
	font-weight: 700;
	margin-bottom: 4px;
}

.video-section__info-desc {
	color: $gray-2;
	font-size: 16px;
	text-transform: uppercase;
	margin-bottom: 40px;
	display: block;
}

.video-section__info-content {
	font-size: 18px;
	line-height: 1.5;
	color: $gray-2;
}

@media (max-width: 1439px) {
	.video-section {
		padding: 80px 20px;

		&--has-gray-cover {
			&:before {
				height: 700px;
			}
		}
	}
	.video-section__title {
		margin-bottom: 50px;
	}
}

@media (max-width: 1199px) {
	.video-section {
		&--has-gray-cover {
			&:before {
				height: 60%;
			}
		}
	}
	.video-section__title {
		margin-left: 0;
		font-size: 35px;
		margin-bottom: 30px;
	}
	.video-section__info {
		padding: 0;
	}
	.video-section__info-desc {
		margin-bottom: 20px;
	}
	.video-section__info-title {
		font-size: 35px;
	}
}

@media (max-width: 768px) {
	.video-section {
		padding: 50px 20px;

		.video {
			width: calc(100% + 40px);
			margin: 0 -20px 30px;
		}

		&--has-gray-cover {
			margin-top: 50px;

			&:before {
				height: 250px;
			}
		}
	}
	.video-section__title {
		font-size: 24px;
		font-weight: 900;
	}
	.video-section__info-title {
		font-size: 24px;
		font-weight: 900;
	}
	.video-section__info-desc {
		font-size: 14px;
	}
	.video-section__info-content {
		font-size: 15px;
		color: $text-color;
	}
}

@media (max-width: 359px) {
	.video-section__title {
		font-size: 20px;
	}
	.video-section__info-title {
		font-size: 20px;
	}
}