// В этом файле должны быть стили для БЭМ-блока lang-toggler, его элементов, 
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий
@import "../../assets/styles/variables.scss";
@import "../../assets/styles/mixins.scss";

.lang-toggler {
	cursor: pointer;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 18px;
	font-family: $title-font;
	width: 80px;
	text-align: center;
}

.lang-toggler__variants {
	display: none;
	text-align: center;
}

.lang-toggler__option {
	display: block;
	margin-bottom: 17px;
	color: $gray-1;
	font-size: 14px;
}