// В этом файле должны быть стили для БЭМ-блока lang-toggler, его элементов, 
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий
@import "../../assets/styles/variables.scss";
@import "../../assets/styles/mixins.scss";

.lang-toggler {}
