// В этом файле должны быть стили для БЭМ-блока product-filter, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий
@import "../../assets/styles/variables.scss";
@import "../../assets/styles/mixins.scss";

.product-filter {
	margin-top: 60px;
}

.product-filter__item {
	position: relative;
	margin-bottom: 35px;
}

.product-filter__item-name {
	position: relative;
	font-size: 24px;
	font-family: $title-font;
	font-weight: 400;
	cursor: pointer;
	margin-bottom: 15px;
	margin-right: 60px;

	&:after {
		content: "";
		position: absolute;
		right: -40px;
		top: 50%;
		display: block;
		width: 20px;
		height: 20px;
		background: url(../img/arrow-left.svg) center/contain no-repeat;
		transform: translateY(-50%) rotate(270deg);
		transition: 0.2s;

		@at-root .product-filter__item.active #{&} {
			transform: translateY(-50%) rotate(90deg);
		}

		@media (max-width: 768px) {
			width: 15px;
			height: 15px;
		}
	}

	@media (max-width: 991px) {
		font-size: 18px;
	}

	@media (max-width: 768px) {
		margin-right: 48px;
	}
}

.product-filter__drop {
	display: none;
}

.product-filter__drop-name {
	text-transform: uppercase;
	font-size: 16px;
	color: $gray-1;
	margin-bottom: 13px;

	@media (max-width: 991px) {
		font-size: 14px;
		text-transform: unset;
	}
}
