// В этом файле должны быть стили для БЭМ-блока footer, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий
@import "../../assets/styles/variables.scss";
@import "../../assets/styles/mixins.scss";

.footer {
	background-color: #F2F2F2;
	padding-top: 96px;
	padding-bottom: 50px;

	@media (max-width: 991px) {
		padding-top: unset;
		padding-bottom: unset;
	}
}

.footer__container {
	max-width: 1600px;
	margin: 0 auto;
	padding-left: 25px;
	padding-right: 25px;
	display: flex;
	flex-direction: column;
}

.footer__nav {
	display: flex;
	font-family: 'Nunito', Arial, sans-serif;;
	margin-bottom: 10px;

	@media (max-width: 991px) {
		display: none;
	}
}

.footer__nav-category {
	padding-right: 25px;
	box-sizing: border-box;
	width: 100%;
	max-width: 255px;
}

.footer__nav-title-wrap {
	min-height: 32px;
}

.footer__nav-title {
	text-decoration: unset;
	font-size: 24px;
	font-family: inherit;
	line-height: 1.3;
	font-weight: 600;
	color: $gray-1;
	transition: 0.3s;

	&:hover {
		text-decoration: underline;
	}
}

.footer__nav-text-wrap {
	display: flex;
	flex-direction: column;
	margin-top: 28px;
}

.footer__nav-text {
	font-family: inherit;
	font-size: 18px;
	line-height: 1.2;
	color: $gray-3;
	margin-bottom: 13px;

	&:hover {
		text-decoration: underline;
	}
}

.footer__divider {
	border-bottom: 1px solid $gray-4;
	margin-left: -25px;
	margin-right: -25px;

	@media (max-width: 991px) {
		order: 1;
		background: #fff;
		border: unset;
	}
}

.footer__divider-text {
	text-align: right;
	margin-bottom: 10px;
	margin-right: 25px;

	span:first-of-type {
		color: $gray-3;
	}

	span:last-of-type {
		margin-left: -2px;
		color: $gray-1;
	}

	@media (max-width: 991px) {
		margin-bottom: 5px;
		margin-top: 5px;
	}
}

.footer__social-flex {
	display: flex;
	justify-content: space-between;
	padding-top: 29px;

	@media (max-width: 991px) {
		padding-bottom: 29px;
	}
}

.footer__logo {
	margin-left: 15px;

	@media (max-width: 991px) {
		margin-left: unset;
	}
}

.footer__social-wrap {
	display: flex;
}

.footer_social-link {
	display: flex;
	align-items: center;
	justify-content: center;

	&:not(:first-of-type) {
		margin-left: 15px;
	}
}

.footer__social-icon,
.footer__logo {
	&:hover path {
		opacity: 0.7;
	}
}
