// В этом файле должны быть стили для БЭМ-блока footer, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий
@import "../../assets/styles/variables.scss";
@import "../../assets/styles/mixins.scss";

.footer {
	background-color: #F2F2F2;
	padding-top: 96px;
	padding-bottom: 50px;
}

.footer__container {
	max-width: 1600px;
	margin: 0 auto;
}

.footer__nav {
	display: flex;
	font-family: 'Nunito', sans-serif;
	margin-bottom: 10px;
}

.footer__nav-category {
	padding-right: 25px;
	box-sizing: border-box;
	width: 100%;
	max-width: 255px;
}

.footer__nav-title-wrap {
	min-height: 32px;
}

.footer__nav-title {
	text-decoration: unset;
	font-size: 24px;
	font-family: inherit;
	line-height: 1.3;
	font-weight: 600;
	color: $gray-1;
	transition: 0.3s;

	&:hover {
		text-decoration: underline;
	}
}

.footer__nav-text-wrap {
	display: flex;
	flex-direction: column;
	margin-top: 28px;
}

.footer__nav-text {
	font-family: inherit;
	font-size: 18px;
	line-height: 1.2;
	color: $gray-3;
	margin-bottom: 13px;

	&:hover {
		text-decoration: underline;
	}
}

.footer__divider {
	border-bottom: 1px solid $gray-4;
}

.footer__divider-text {
	text-align: right;
	font-size: 14px;
	line-height: 1.3;
	margin-bottom: 10px;

	span:first-of-type {
		color: $gray-3;
	}

	span:last-of-type {
		margin-left: -2px;
		color: $gray-1;
	}
}

.footer__social-flex {
	display: flex;
	justify-content: space-between;
	padding-top: 29px;
}

.footer__logo {
	margin-left: 15px;
}
