// В этом файле должны быть стили для БЭМ-блока portfolio-preview, его элементов, 
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий
@import "../../assets/styles/variables.scss";
@import "../../assets/styles/mixins.scss";

.portfolio-preview {
	@include container;
	max-width: 1350px;
	margin-bottom: 100px;
}

.portfolio-preview__head {
	display: flex;
	flex-direction: column;
	margin-bottom: 30px;
	position: relative;
}

.portfolio-preview__title {
	font-size: 40px;
	font-weight: 400;
	font-family: $title-font;
	margin-bottom: 25px;
}

.portfolio-preview__desc {
	font-size: 18px;
	line-height: 1.3;
	max-width: 520px;
}

.portfolio-preview__insta-btn {
	position: absolute;
	bottom: 0;
	right: 0;
	display: flex;
	width: 260px;
	align-items: center;
	justify-content: center;
	border: 1px solid $gray-3;
	font-size: 16px;
	font-family: $title-font;
	font-weight: 400;
	color: $text-color;
	padding: 22px 30px;

	svg {
		margin-left: 40px;
		transition: 0.5s;
	}

	&:hover {
		svg {
			transform: translateX(10px);
		}
	}
}

.portfolio-preview__grid {
	display: block;
	column-count: 2;
	column-gap: 14px;
}

.portfolio-preview__item {
	margin-bottom: 14px;
	display: block;
}

@media (max-width: 1200px) {
	.portfolio-preview__insta-btn {
		position: static;
		margin-top: 20px;
		padding: 15px 30px;
		width: 100%;
	}
}

@media (max-width: 768px) {
	.portfolio-preview__grid {
		column-gap: 8px;
	}
	.portfolio-preview__item {
		margin-bottom: 8px;
	}
	.portfolio-preview__title {
		font-size: 24px;
		font-weight: 400;
	}
}

@media (max-width: 359px) {
	.category-info__link {
		padding: 15px 30px;
		width: calc(100% - 30px);
		font-size: 14px;
	}
	.category-info__link-wrap {
		width: 100%;
		min-height: 170px;
	}
}