// В этом файле должны быть стили для БЭМ-блока projects, его элементов, 
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий
@import "../../assets/styles/variables.scss";
@import "../../assets/styles/mixins.scss";

.projects {
	background: $accent-olive url("../img/line-bg-pattern-gray.png") repeat;
	color: $light;
	padding-top: 100px;
	padding-bottom: 100px;
}

.projects__header {
	@include container;
}

.projects__bottom {
	@include container;
	max-width: 850px;
	margin: 0 auto;
}

.projects__bottom-title {
	font-size: 40px;
	font-family: $title-font;
	font-weight: 400;
	line-height: 1.2;
	margin-bottom: 40px;
}

.projects__bottom-content {
	font-size: 18px;
	font-weight: 400;
	color: $gray-5;
	line-height: 1.5;
}

.projects__header {
	display: flex;
	align-items: flex-start;
	margin-bottom: 70px;
}

.projects__title {
	font-size: 42px;
	font-weight: 900;
	font-family: $title-font;
	margin-right: 170px;
	margin-left: 30px;
}

.projects__slider {
	@include container;
	margin-bottom: 120px;
}

.projects__section-title {
	max-width: 715px;
	font-size: 16px;
	color: $gray-5;
}

.projects-slider__slide {
	padding-right: 20px;

	&:not(.slick-active) {
		opacity: 0.2;

		.projects-slider__slide-caption {
			visibility: hidden;
			opacity: 0;
		}
	}
}

.projects-slider__slide-image {
	display: block;
	width: 100%;
	height: 395px;
	object-fit: cover;
	margin-bottom: 25px;
}

.projects-slider__slide-caption {
	color: $gray-5;
	font-size: 18px;
	font-weight: 300;
	transition: 0.3s;
}