// В этом файле должны быть стили для БЭМ-блока projects, его элементов, 
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий
@import "../../assets/styles/variables.scss";
@import "../../assets/styles/mixins.scss";

.projects {
	background: $accent-olive url("../img/line-bg-pattern-gray.png") repeat;
	background-position: center;
	color: $light;
	padding-top: 100px;
	padding-bottom: 150px;
}

.projects__header {
	@include container;
}

.projects__bottom {
	@include container;
	max-width: 850px;
	margin: 0 auto;
}

.projects__bottom-title {
	font-size: 40px;
	font-family: $title-font;
	font-weight: 400;
	line-height: 1.2;
	margin-bottom: 40px;
}

.projects__bottom-content {
	font-size: 18px;
	font-weight: 400;
	color: $gray-5;
	line-height: 1.5;
}

.projects__header {
	display: flex;
	align-items: flex-start;
	margin-bottom: 70px;
}

.projects__title {
	font-size: 42px;
	font-weight: 900;
	font-family: $title-font;
	margin-right: 170px;
	margin-left: 30px;
}

.projects__slider {
	@include container;
	margin-bottom: 120px;
}

.projects__section-title {
	max-width: 715px;
	font-size: 16px;
	color: $gray-5;
	line-height: 1.5;
}

@media (max-width: 1679px) {
	.projects {
		background-size: 350px 10px;
	}
	.projects__title {
		margin-right: 80px;
	}
	.projects__section-title {
		max-width: 655px;
	}
}

@media (max-width: 1439px) {
	.projects {
		padding-bottom: 100px;
	}
	.projects__section-title {
		max-width: 545px;
	}
	.projects__title {
		margin-right: 60px;
		font-size: 36px;
	}
}

@media (max-width: 1199px) {
	.projects {
		padding-top: 70px;
		padding-bottom: 70px;
	}
	.projects__header {
		flex-direction: column;
		margin-bottom: 50px;
	}
	.projects__title {
		margin-left: 0;
		margin-bottom: 26px;
	}
	.projects__section-title {
		max-width: 100%;
	}
	.projects__slider {
		margin-bottom: 70px;
	}
}

@media (max-width: 991px) {
	.projects__bottom-title {
		font-size: 30px;
		line-height: 1.3;
		margin-bottom: 30px;
		max-width: 500px;
	}
}

@media (max-width: 768px) {
	.projects {
		padding-top: 50px;
		padding-bottom: 50px;
		background-size: 176px 10px;
	}
	.projects__title {
		font-size: 24px;
		margin-right: 0;
		margin-bottom: 20px;
	}
	.projects__section-title {
		font-size: 14px;
	}
	.projects__header {
		margin-bottom: 40px;
	}
	.projects__slider {
		margin-bottom: 50px;
	}
	.projects__bottom-title {
		font-size: 24px;
		font-weight: 900;
		font-family: $title-font;
	}
	.projects__bottom-content {
		font-size: 14px;
	}
}

@media (max-width: 370px) {
	.projects {
		background-size: 170px 10px;
	}
}