// В этом файле должны быть стили для БЭМ-блока authentication, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий
@import "../../assets/styles/variables.scss";
@import "../../assets/styles/mixins.scss";

.authentication {
	background-color: $dark-color;
	padding-top: 30px;
	padding-bottom: 30px;

	@media (max-width: 550px) {
		padding-top: 10px;
		padding-bottom: 10px;
		background-color: unset;
	}
}

.authentication__container {
	@include container;
}

.authentication__flex {
	display: flex;
	flex-wrap: wrap;
	margin-left: -10px;
	margin-right: -10px;
	justify-content: space-between;

	@media (max-width: 550px) {
		margin: 0 -20px;
		justify-content: center;
	}
}

.authentication__btn-wrap {
	@media (max-width: 550px) {
		align-self: stretch;
		background-color: $dark-color;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;

		&:last-of-type {
			margin-top: 20px;
		}
	}
}

.authentication__btn {
	margin-left: 10px;
	margin-right: 10px;

	@media (max-width: 550px) {
		margin: 10px 10px;
	}
}
