// В этом файле должны быть стили для БЭМ-блока order-goods, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий
@import "../../assets/styles/variables.scss";
@import "../../assets/styles/mixins.scss";

.order-goods {
	width: 850px;
	max-width: 100%;
}

.order-goods__form-wrap {
	max-width: 330px;

	@media (max-width: 768px) {
		max-width: 100%;
		margin-top: 270px;
	}

	@media (max-width: 424px) {
		margin-top: 250px;
		margin-bottom: 35px;
	}
}

.order-goods__form {

	.button {
		width: 100%;
		margin-top: 15px;
	}
}

.order-goods__title {
	font-size: 40px;
	font-weight: bold;
	font-family: $title-font;
	margin-bottom: 20px;
	text-transform: uppercase;

	@media (max-width: 424px) {
		font-size: 24px;
	}
}

.order-goods__text {
	font-size: 14px;
	line-height: 1.3;
	margin-bottom: 20px;
	color: $gray;
}

.order-goods__img-wrap {
	position: absolute;
	top: 0;
	right: 0;
	left: 420px;
	bottom: 0;

	@media (max-width: 768px) {
		left: 0;
		bottom: calc(100% - 245px);
	}
}

.order-goods__img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
