// В этом файле должны быть стили для БЭМ-блока news, его элементов, 
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий
@import "../../assets/styles/variables.scss";
@import "../../assets/styles/mixins.scss";

.news {
	@include container;
	padding-top: 80px;
	padding-bottom: 100px;
}

.news__header {
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
	max-width: 1166px;
	margin-bottom: 85px;
}

.news__title {
	font-size: 60px;
	font-family: $title-font;
	margin-bottom: 3px;
}

.news__desc {
	font-size: 24px;
	color: $gray-2;

	strong {
		font-weight: 700;
		font-style: italic;
	}
}

.news__wrap {
	display: flex;
	flex-direction: column;
}

@media (max-width: 1199px) {
	.news__header {
		flex-direction: column;
		align-items: flex-start;
	}
	.news__social {
		margin-top: 30px;
	}
}

@media (max-width: 991px) {
	.news {
		padding: 50px 20px;
	}
	.news__title {
		font-size: 24px;
		font-weight: 900;
		margin-bottom: 10px;
	}
	.news__desc {
		font-size: 16px;
	}
	.news__social {
		margin-top: 20px;
	}
	.news__header {
		margin-bottom: 40px;
	}
}