// В этом файле должны быть стили для БЭМ-блока catalog-filter, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий
@import "../../assets/styles/variables.scss";
@import "../../assets/styles/mixins.scss";

.catalog-filter {
	display: grid;
	grid-template-columns: repeat(12,1fr);
	grid-template-rows: auto;
	grid-auto-flow: row dense;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1;

	&.fixed {
		position: fixed;
	}

	.catalog-filter__select {
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 25px 17px;
		margin-bottom: unset;
		border: 1px solid $gray-5;
		font-size: 16px;
		font-weight: 600;

		span {
			color: $gray-3;
		}

		&:before {
			content: attr(aria-label);
			font-size: 18px;
		}

		&:after {
			display: none;
		}

		&:hover,
		&.open {
			box-shadow: inset 0 0 0 8px $gray-5;
		}
	}

	.list {
		right: 0;
		background-color: $text-color;
		padding-top: 15px;
		padding-bottom: 15px;
		margin-top: unset;

		.option {
			color: #fff;
			text-align: right;
			font-size: 16px;
			font-weight: 600;

			&.focus,
			&.selected.focus,
			&:hover
			{
				background: $gray-2;
			}

			&.disabled {
				opacity: 0.5;
				background: unset;
			}
		}
	}
}

.catalog-filter__item {
	grid-column: span 3;

	&:nth-of-type(even) .catalog-filter__select {
		background-color: $gray-8;
	}
}

.catalog-filter__btn-reset {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 25px 17px;
	cursor: pointer;
	border: 1px solid #DDDDDD;
	color: $gray-3;
	transition: 0.2s;
	outline: transparent;
	font-size: 16px;
	font-weight: 600;
	font-family: inherit;
	background-color: $gray-8;

	&:before {
		content: attr(aria-label);
	}

	&:hover {
		box-shadow: inset 0 0 0 8px $gray-5;
	}
}
