// В этом файле должны быть стили для БЭМ-блока button, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий
@import "../../assets/styles/variables.scss";
@import "../../assets/styles/mixins.scss";

.button {
	position: relative;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	padding: 15px 35px;
	border: 1px solid #fff;
	background-color: transparent;
	border-radius: 35px;
	color: inherit;
	text-decoration: unset;
	transition: 0.3s;
	font-weight: 700;

	&:hover {
		color: $hover-color;
		border-color: $hover-color;
	}

	&--violet {
		background-color: $second-color;
		border-color: $second-color;

		&:hover {
			color: #fff;
			border-color: $second-color;
		}
	}
}
