// В этом файле должны быть стили для БЭМ-блока catalog, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий
@import "../../assets/styles/variables.scss";
@import "../../assets/styles/mixins.scss";

.catalog {
	display: block;
}

.catalog_first-section {
	display: flex;
	max-width: 1360px;
	min-height: 161px;
	margin: 0 auto;
	padding: 60px 0;
}

.catalog__breadcrumb-wrap {
	width: 100%;
	max-width: 210px;
	padding-right: 25px;
	box-sizing: border-box;
}

.catalog__qoute {
	font-size: 16px;
	line-height: 1.8;
	color: $gray-3;
}

.catalog__second-section {
	background-color: $gray-8;
}

.catalog__container {
	max-width: 1360px;
	min-height: 161px;
	margin: 0 auto;
	padding: 60px 0;
}

.catalog__title {
	font-size: 32px;
	margin-bottom: 25px;
	line-height: 1.2;
	font-family: "Merriweather";
}

.catalog__text {
	font-size: 16px;
	line-height: 1.8;
	color: $gray-3;

	@at-root {
		.catalog__second-section #{&} {
			max-width: 665px;
		}
	}
}

.catalog__products-section {
	max-width: 1700px;
	margin: 0 auto;
}
