// В этом файле должны быть стили для БЭМ-блока catalog, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий
@import "../../assets/styles/variables.scss";
@import "../../assets/styles/mixins.scss";

.catalog {
	display: block;
}

.catalog_first-section {
	display: flex;
	max-width: 1360px;
	min-height: 161px;
	margin: 0 auto;
	padding: 60px 0;
}

.catalog__breadcrumb-wrap {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;

	@media (max-width: 1440px) {
		flex-direction: column;
	}
}

.catalog__breadcrumb {
	flex-shrink: 0;
	margin-right: 35px;
}

.catalog__qoute {
	font-size: 16px;
	line-height: 1.8;
	color: $gray-3;
	max-width: 1060px;

	@media (max-width: 768px) {
		font-size: 14px;
		line-height: 1.5;
	}

	@media (max-width: 425px) {
		font-size: 12px;
	}
}

.catalog__second-section {
	background-color: $gray-9;

	.catalog__title {
		text-align: left;
		font-size: 32px;
		margin-bottom: 23px;
		line-height: 1.2;
		font-family: $title-font;

		@media (max-width: 768px) {
			font-size: 24px;
			font-weight: 900;
		}
	}
}

.catalog__container {
	max-width: 1360px;
	width: 100%;
	min-height: 161px;
	margin: 0 auto;
	padding: 60px 0;

	@media (max-width: 991px) {
		padding-top: 30px;
		padding-bottom: 30px;
	}

	@media (max-width: 767px) {
		padding-top: 20px;
		padding-bottom: 20px;
	}
}

.catalog__text {
	font-size: 16px;
	line-height: 1.8;
	color: $gray-3;

	@at-root {
		.catalog__second-section #{&} {
			max-width: 665px;
		}
	}

	@media (max-width: 768px) {
		font-size: 14px;
		line-height: 1.5;
	}

	@media (max-width: 425px) {
		font-size: 12px;
	}
}

.catalog__section {
	@include container;
}

.catalog__filter-wrap {
	position: relative;
}

.catalog__products {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: auto;
	grid-auto-flow: row dense;
}

.catalog__product {
	border: 1px solid $gray-5;
	transition: 0.2s;
	padding: 20px;
	grid-column: span 3;
	min-width: 0;

	&--x2 {
		grid-column: span 6;
		background-color: #DFD7CA80;

		@media (max-width: 1300px) {
			grid-column: span 8 !important;
		}

		@media (max-width: 991px) {
			grid-column: span 12 !important;
		}
	}

	&:hover {
		box-shadow: inset 0 0 0 8px $gray-5;

		.catalog__product-img {
			transform: scale(1.03);
		}
	}

	&:not(&--x2):nth-of-type(2n) {
		background-color: #EFF1E680;
	}

	&:not(&--x2):nth-of-type(3n) {
		background-color: #DFD6D980;
	}

	&:not(&--x2):nth-of-type(4n) {
		background-color: #C7D7E480;
	}

	@media (max-width: 1300px) {
		grid-column: span 4;
	}

	@media (max-width: 991px) {
		grid-column: span 6;
	}

	@media (max-width: 375px) {
		padding: 10px;
	}
}

.catalog__product-category {
	font-size: 16px;
	line-height: 1.4;
	color: $gray-1;

	@media (max-width: 767px) {
		font-size: 12px;
	}
}

.catalog__product-title {
	font-size: 24px;
	font-family: $title-font;
	color: $text-color;
	line-height: 1.3;

	&:hover {
		color: $gray-2;
	}

	@media (max-width: 767px) {
		font-size: 18px;
	}

	@media (max-width: 425px) {
		font-size: 14px;
	}
}

.catalog__product-price {
	font-size: 16px;
	line-height: 1.4;
	color: $text-color;

	@media (max-width: 767px) {
		font-size: 12px;
	}
}

.catalog__product-slider {
	margin-left: -12px;
	margin-right: -12px;
	margin-bottom: unset !important;

	.slick-dots {
		bottom: 100%;
		right: 12px;
		width: unset;
		position: absolute;
		display: flex;

		li {
			margin: 0 3px;
			width: unset;
			height: unset;
			background: 0;
			padding: 2px 0;

			@media (max-width: 767px) {
				margin: 0 2px;
			}

			&:after {
				display: none;
			}

			button {
				width: 18px;
				height: 18px;
				border-radius: 50%;
				border: 1px solid $gray-1;
				position: relative;
				opacity: 0.25;
				font-size: 0;
				cursor: pointer;
				outline: none;
				display: block;
				transition: 0.3s;

				&:before {
					content: "";
					position: absolute;
					width: 10px;
					height: 10px;
					border-radius: 50%;
					display: inline-block;
					background-color: $gray-1;
					opacity: 1;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);

					@media (max-width: 767px) {
						width: 7px;
						height: 7px;
					}

					@media (max-width: 767px) {
						width: 4px;
						height: 4px;
					}
				}

				@media (max-width: 767px) {
					width: 12px;
					height: 14px;
				}

				@media (max-width: 767px) {
					width: 4px;
					height: 4px;
					padding: 4px;
				}
			}

			&.slick-active {
				cursor: auto;

				button {
					opacity: .75;
					cursor: auto;
				}
			}

			&:not(.slick-active):hover button {
				opacity: 1;
			}
		}
	}
}

.catalog__product-img-wrap {
	outline: none;
}

.catalog__product-img {
	width: auto;
	max-height: 290px;
	object-fit: cover;
	margin: 0 auto;
	transition: 0.4s !important;

	@media (max-width: 1300px) {
		max-height: 220px;
	}

	@media (max-width: 991px) {
		max-height: 270px;
	}

	@media (max-width: 767px) {
		max-height: 200px;
	}

	@media (max-width: 375px) {
		max-height: 130px;
	}
}

.catalog__section-popular {
	margin-top: 235px;

	@media (max-width: 768px) {
		margin-top: 50px;
	}
}

.catalog__title {
	text-align: center;
	font-family: $title-font;
	font-size: 42px;
	font-weight: bold;
	line-height: 1.2;
	margin-bottom: 35px;

	@media (max-width: 768px) {
		font-size: 24px;
	}

	@media (max-width: 425px) {
		font-size: 18px;
	}
}

.catalog__subtitle {
	text-align: center;
	font-family: $main-font;
	font-size: 21px;
	line-height: 1.3;
	max-width: 810px;
	margin: 0 auto 50px;
	color: $gray-3;

	@media (max-width: 768px) {
		font-size: 16px;
		margin-bottom: 35px;
	}

	@media (max-width: 550px) {
		font-size: 16px;
		margin-bottom: 25px;
	}
}

.catalog__popular-slider {
	.slick-arrow {
		background-color: $light;
	}
}

.catalog__popular-item {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-end;
	height: 490px;
	background-color: $gray-8;
	padding: 35px;
	transition: unset;
	outline: none;
	margin: 0 9px;

	@media (max-width: 1500px) {
		height: 400px;
	}

	@media (max-width: 1400px) {
		height: 300px;
	}

	@media (max-width: 1300px) {
		height: 250px;
		padding: 20px;
	}

	@media (max-width: 1200px) {
		height: 200px;
	}

	@media (max-width: 991px) {
		height: 250px;
	}


	@media (max-width: 375px) {
		height: 220px;
	}
}

.catalog__popular-item-wrap {
	box-sizing: border-box;
	outline: none;

	@media (max-width: 767px) {
		&:not(.slick-center) {
			opacity: 0.6;
		}
	}
}

.catalog__popular-item-title {
	font-family: $main-font;
	font-size: 38px;
	line-height: 1.2;
	margin-bottom: 18px;
	font-weight: 600;
	color: $text-color;
	z-index: 1;

	@media (max-width: 1300px) {
		font-size: 24px;
		margin-bottom: 10px;
	}

	@media (max-width: 425px) {
		font-size: 18px;
		margin-bottom: 5px;
	}
}

.catalog__popular-item-price {
	font-family: $main-font;
	font-size: 19px;
	color: $gray-3;
	line-height: 1.4;
	min-height: 1.4em;
	z-index: 1;

	@media (max-width: 1300px) {
		font-size: 16px;
	}

	@media (max-width: 425px) {
		font-size: 14px;
	}
}

.catalog__popular-item-img {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	object-fit: contain;
	transition: .4s !important;

	&:hover {
		transform: scale(1.03);
	}
}

.catalog__section-article {
	margin-top: 235px;

	.catalog__text {
		max-width: 840px;
		margin: 0 auto;
	}

	@media (max-width: 991px) {
		margin-top: 50px;
		padding-top: 50px;
		background-color: $gray-9;
		padding-left: 10px;
		padding-right: 10px;
	}

	@media (max-width: 768px) {
		.catalog__title {
			font-size: 22px;
			margin-bottom: 14px;
		}
	}
}

.catalog__article-slider-wrap {
	margin-bottom: 40px;
	position: relative;
	padding-bottom: 95px;

	&:after {
		content: "";
		background-color: $gray-9;
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		top: calc(100% - 505px);
		z-index: -1;
	}

	@media (max-width: 991px) {
		padding-left: 10px;
		padding-right: 10px;
		padding-bottom: 40px;
	}
}

.catalog__article-slider {
	max-width: 840px;
	margin: 0 auto;

	.slick-arrow {
		top: calc(100% - 410px);
	}

	.slick-prev {
		right: calc(100% + 100px);
		left: unset;
	}

	.slick-next {
		left: calc(100% + 100px);
		transform: rotate(180deg) translateY(50%);
	}

	.slick-dots {
		margin-top: 18px;
	}

	@media (max-width: 991px) {
		transform: unset;
	}
}

.catalog__article-img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.catalog__ul, .catalog__ol {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	position: relative;

	@media (max-width: 768px) {
		font-size: 14px;
		line-height: 1.4;
		padding-left: 10px;
		padding-right: 10px;
		margin-bottom: 25px;
	}
}

.catalog__ol {
	counter-reset: list;

	li {
		padding-left: 50px;
		position: relative;

		&:before {
			content: counter(list);
			counter-increment: list;
			display: inline-block;
			vertical-align: middle;
			position: absolute;
			left: 0;
			top: -3px;
			color: $gray-5;
			font-size: 32px;
			font-family: $title-font;
			font-weight: 400;
		}
	}
}


.catalog__ul {
	margin-bottom: 50px;

	li {
		padding-left: 50px;
		position: relative;

		&:before {
			content: '';
			width: 35px;
			height: 1px;
			display: inline-block;
			vertical-align: middle;
			position: absolute;
			left: 0;
			top: 12px;
			background: $gray-2;
		}
	}
}


.catalog__li {
	width: 45%;
	margin-bottom: 25px;

	@media (max-width: 768px) {
		width: auto;
		margin-bottom: 15px;
	}
}

.catalog__about-text {
	margin-bottom: 50px;

	@media (max-width: 768px) {
		padding-left: 10px;
		padding-right: 10px;
	}
}

.catalog__tags {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	margin: 0 auto 40px;

	@media (max-width: 768px) {
		flex-wrap: nowrap;
		overflow-x: scroll;
		justify-content: flex-start;
		margin-bottom: unset;
	}
}

.catalog__tag {
	text-decoration: underline;
	color: $gray-3;
	margin-left: 15px;
	margin-right: 15px;
	margin-bottom: 25px;
	font-size: 12px;
	padding: 6px 11px;
	background: $gray-8;
	border-radius: 15px;
	flex-shrink: 0;

	&:hover {
		color: $text-color;
	}
}

.catalog__section--about {

	@media (max-width: 768px) {
		.catalog__title {
			font-size: 32px;
			font-weight: 400;
			text-align: left;
		}
	}
}

.catalog__container-tags {
	min-height: unset;

	@media (max-width: 768px) {
		padding-top: 0 !important;
		padding-bottom: 0 !important;
	}
}

.catalog__article-text {
	font-size: 16px;
	line-height: 1.8;
	color: #868686;
	max-width: 840px;
	margin: 0 auto 40px;

	@media (max-width: 768px) {
		font-size: 14px;
		line-height: 1.5;
	}

	@media (max-width: 425px) {
		font-size: 12px;
	}
}

.catalog__article-title {
	margin-bottom: 15px;
}