// В этом файле должны быть стили для БЭМ-блока catalog, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий
@import "../../assets/styles/variables.scss";
@import "../../assets/styles/mixins.scss";

.catalog {
	display: block;
}

.catalog_first-section {
	display: flex;
	max-width: 1360px;
	min-height: 161px;
	margin: 0 auto;
	padding: 60px 0;
}

.catalog__breadcrumb-wrap {
	width: 100%;
	max-width: 210px;
	padding-right: 25px;
	box-sizing: border-box;
}

.catalog__qoute {
	font-size: 16px;
	line-height: 1.8;
	color: $gray-3;
}

.catalog__second-section {
	background-color: $gray-8;
}

.catalog__container {
	max-width: 1360px;
	min-height: 161px;
	margin: 0 auto;
	padding: 60px 0;
}

.catalog__title {
	font-size: 32px;
	margin-bottom: 25px;
	line-height: 1.2;
	font-family: $title-font;
}

.catalog__text {
	font-size: 16px;
	line-height: 1.8;
	color: $gray-3;

	@at-root {
		.catalog__second-section #{&} {
			max-width: 665px;
		}
	}
}

.catalog__products-section {
	max-width: 1700px;
	margin: 0 auto;
}

.catalog__filter-wrap {
	position: relative;
}

.catalog__products {
	display: grid;
	grid-template-columns: repeat(12,1fr);
	grid-template-rows: auto;
	grid-auto-flow: row dense;
}

.catalog__product {
	border: 1px solid $gray-5;
	transition: 0.2s;
	padding: 20px;
	grid-column: span 3;

	&--x2 {
		grid-column: span 6;
		background-color: #DFD7CA80;
	}

	&:hover {
		box-shadow: inset 0 0 0 8px $gray-5;

		.catalog__product-img {
			transform: scale(1.03);
		}
	}

	&:not(&--x2):nth-of-type(2n) {
		background-color: #EFF1E680;
	}

	&:not(&--x2):nth-of-type(3n) {
		background-color: #DFD6D980;
	}

	&:not(&--x2):nth-of-type(4n) {
		background-color: #C7D7E480;
	}
}

.catalog__product-category {
	font-size: 16px;
	line-height: 1.4;
	color: $gray-1;
}

.catalog__product-title {
	font-size: 24px;
	font-family: $title-font;
	color: $text-color;
	line-height: 1.3;

	&:hover	{
		color: $gray-2;
	}
}

.catalog__product-price {
	font-size: 16px;
	line-height: 1.4;
	color: $text-color;
}

.catalog__product-img {
	transition: 0.4s!important;
	will-change: transform;
}

.catalog__product-slider {
	margin-left: -12px;
	margin-right: -12px;
	margin-bottom: unset!important;

	.slick-dots {
		bottom: 100%;
		right: 12px;
		width: unset;

		li {
			margin: 0 3px;

			button{
				width: 18px;
				height: 18px;
				border-radius: 50%;
				border: 1px solid $gray-1;
				position: relative;
				opacity: 0.25;

				&:before {
					content: "";
					width: 9px;
					height: 9px;
					border-radius: 50%;
					display: inline-block;
					background-color: $gray-1;
					opacity: 1;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
				}
			}

			&.slick-active button {
				opacity: .75;
			}

			&:not(.slick-active):hover button {
				opacity: 1;
			}
		}
	}
}

.catalog__product-img-wrap {
	outline: none;
}

.catalog__product-img {
	width: auto;
	max-height: 290px;
	object-fit: cover;
	margin: 0 auto;
}

.catalog__section-popular {
	margin-top: 235px;
}

.catalog__title {
	text-align: center;
	font-family: $title-font;
	font-size: 42px;
	font-weight: bold;
	line-height: 1.2;
	margin-bottom: 35px;
}

.catalog__subtitle {
	text-align: center;
	font-family: $main-font;
	font-size: 21px;
	line-height: 1.3;
	max-width: 810px;
	margin: 0 auto 50px;
	color: $gray-3;
}

.catalog__popular-flex {
	flex-wrap: wrap;
	justify-content: space-between;
}

.catalog__popular-item {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-end;
	height: 490px;
	background-color: $gray-8;
	padding: 35px;
	margin-bottom: 18px;

/*	&:nth-of-type(3n + 2) {
		width: calc(42% - 36px);
	}*/
}

.catalog__popular-item-title {
	font-family: $main-font;
	font-size: 38px;
	line-height: 1.2;
	margin-bottom: 18px;
	font-weight: 600;
}

.catalog__popular-item-price {
	font-family: $main-font;
	font-size: 19px;
	color: $gray-3;
	line-height: 1.4;
}

.catalog__popular-item-img {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;    width: 100%;
	height: 100%;
	object-fit: contain;
}

.catalog__section-article {
	margin-top: 235px;

	.catalog__text {
		max-width: 840px;
		margin: 0 auto;
	}
}
