// В этом файле должны быть стили для БЭМ-блока menu, его элементов, 
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий
@import "../../assets/styles/variables.scss";
@import "../../assets/styles/mixins.scss";

.menu {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: fixed;
	top: 0;
	left: 0;
	background: $text-color;
	color: $gray-8;
	opacity: 0;
	visibility: hidden;
	transition: 0.3s;
	z-index: 5;
	transform: translateX(50px);

	&--active {
		opacity: 1;
		visibility: visible;
		transform: none;
	}
}

.menu__row {
	display: flex;
	align-items: stretch;
}

.menu__l-divider {
	width: 80px;
	min-width: 80px;
	border-right: 1px solid $gray-2;
	border-bottom: 1px solid $gray-2;
}

.menu__content {
	flex-grow: 1;
	display: flex;
	align-items: center;
	border-right: 1px solid $gray-2;
	border-bottom: 1px solid $gray-2;
}

.menu__r-divider {
	min-width: 80px;
	max-width: 80px;
	border-bottom: 1px solid $gray-2;

	.lang-toggler {
		position: fixed;
		bottom: 0;
		right: 0;
		padding: 30px 20px;
	}

	.lang-toggler__option {

		&:hover {
			color: $light;
		}
	}
}

.menu__header {
	min-height: 80px;

	.menu__l-divider, .menu__r-divider {
		min-height: 80px;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.menu__content {
		padding: 25px 28px;
	}
}

.menu__logo-wrap {
	opacity: 0.7;

	&:hover {
		opacity: 1;

		path {
			fill: $light
		}
	}
}

.menu__main {
	flex-grow: 1;
}

.menu__groups {
	display: flex;
	align-items: stretch;
	margin-top: -80px;
	height: calc(100% + 80px);
	flex-wrap: wrap;
}

.menu__group {
	padding: 85px;
	display: flex;
	align-items: center;
	border-right: 1px solid $gray-2;
	flex-grow: 1;
	justify-content: space-between;

	&:last-child {
		border-right: 0;
	}
}

.menu__list-wrap {
	min-height: 230px;
}

.menu__list-title {
	font-size: 40px;
	font-family: $title-font;
	line-height: 1.2;
	margin-bottom: 32px;
	display: block;
}

.menu__item {
	margin-bottom: 15px;

	a {
		color: $gray-8;
		opacity: 0.5;

		&:hover {
			color: $light;
			opacity: 1;
		}
	}
}

.menu__close {
	background: #383838;
	width: 80px;
	height: 80px;
	border: none;
	cursor: pointer;
	transition: 0.3s;
	outline: none;

	&:hover, &:focus {
		background: #343333;
	}
}

@media (max-width: 1439px) {
	.menu__group:last-child {
		flex-grow: 0;
	}
	.menu__group {
		padding: 65px;
	}
}

@media (max-width: 1279px) {
	.menu__group {
		padding: 45px;
	}
}

@media (max-width: 1199px) {
	.menu__list-title {
		font-size: 30px;
	}
	.menu__group {
		padding: 25px;
	}
}

@media (max-width: 991px) {
	.menu {
		background: #444444;
	}
	.menu__l-divider {
		display: none;
	}
	.menu__r-divider {
		min-width: 66px;
		max-width: 66px;
		border-bottom: none;

		.lang-toggler {
			width: 66px;
			display: none;
		}

		.lang-toggler__option {
			color: $gray-3;
		}
	}
	.menu__header {
		min-height: 66px;
		height: 66px;

		.menu__l-divider {
			display: none;
		}
		.menu__r-divider {
			min-height: 66px;
			min-width: 66px;
			max-width: 66px;
		}
		.menu__content {
			padding: 20px;
		}
	}
	.menu__groups {
		margin-top: 0;
		justify-content: space-between;
	}
	.menu__group {
		flex-direction: column;
		border-right: 0;
		padding: 0;
		flex-grow: 1;
		justify-content: flex-start;
		width: 100%;

		&:last-child {
			min-width: calc(100% + 107px);
			margin-left: -20px;
			padding: 20px 20px 30px;
			border-top: 1px solid $gray-2;

			.menu__list-wrap {
				margin-bottom: 0;
			}
			.menu__list-title {
				display: none;
			}
		}
	}
	.menu__main {
		overflow: auto;
	}
	.menu__list {
		flex-grow: 1;
	}
	.menu__close {
		width: 66px;
		height: 65px;
		background: #4E4E4E;
		border-bottom: 1px solid $gray-2;
		box-sizing: content-box;
		position: absolute;
		max-width: 66px;
		padding: 0;
		top: 0;
		right: 0;
	}
	.menu__list-wrap {
		display: flex;
		min-height: unset;
		width: 100%;
		margin-bottom: 38px;

		&:last-child {
			margin-bottom: 0;
		}
	}
	.menu__content {
		padding: 20px;
	}
	.menu__list-title {
		font-size: 18px;
		min-width: 130px;
	}
	.menu__item {
		margin-bottom: 10px;

		&:last-child {
			margin-bottom: 0;
		}

		a {
			font-size: 16px;
		}
	}
}

@media (max-width: 359px) {
	.menu__list-title {
		min-width: 110px;
	}
	.menu__list-wrap {
		margin-bottom: 25px;
	}
}