// В этом файле должны быть стили для БЭМ-блока product, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий
@import "../../assets/styles/variables.scss";
@import "../../assets/styles/mixins.scss";

.product {
	@include container;

	margin-bottom: 200px;

	@media (max-width: 991px) {
		margin-bottom: 50px;
	}
}

.product__flex {
	max-width: 1540px;
	margin: 75px auto 0;
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid $gray-5;

	@media (max-width: 991px) {
		flex-direction: column;
		align-items: center;
		padding-left: 10px;
		padding-right: 10px;
		border-bottom: unset;
		margin-top: 50px;
	}

	@media (max-width: 425px) {
		margin-top: 25px;
	}
}

.product__box {
	flex-grow: 1;
	position: relative;

	&--description {
		max-width: 530px;
		flex-shrink: 0;
		min-height: 1750px;

		@media (max-width: 1440px) {
			max-width: 470px;
			min-height: 1000px;
		}

		@media (max-width: 1300px) {
			max-width: 390px;
		}

		@media (max-width: 1200px) {
			max-width: 350px;
		}

		@media (max-width: 991px) {
			min-height: unset;
			max-width: unset;
			align-self: stretch;
		}
	}

	&--gallery {
		margin-left: 90px;
		max-width: 850px;

		display: flex;
		flex-direction: column;
		justify-content: flex-end;

		@media (max-width: 1440px) {
			margin-left: 35px;
		}

		@media (max-width: 991px) {
			margin-left: -20px;
			margin-right: -20px;
			align-self: stretch;
			max-width: unset;
			border-top: 1px solid $gray-5;
		}
	}
}

.product__title {
	font-family: $title-font;
	font-size: 40px;
	margin-bottom: 15px;
	line-height: 1.25;
	font-weight: 400;

	@media (max-width: 991px) {
		font-size: 24px;
		font-weight: 900;
		margin-bottom: 10px;
	}
}

.product__subtitle {
	font-size: 16px;
	text-transform: uppercase;
	line-height: 1.4;
	margin-bottom: 35px;
	color: $gray-1;

	@media (max-width: 991px) {
		font-size: 14px;
		margin-bottom: 25px;
	}
}

.product__description {
	font-size: 18px;
	line-height: 1.6;
	max-width: 530px;
	color: $gray;
	margin-bottom: 35px;
}

.product__price-wrap {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.product__button {
	width: 100%;
	max-width: 290px;

	@media (max-width: 1300px) {
		max-width: 200px;
	}

	@media (max-width: 374px) {
		padding-left: 15px;
		padding-right: 15px;
		max-width: 140px;
	}
}

.product__price {
	font-family: $title-font;
	font-size: 24px;
	font-weight: 400;
}

.product__gallery {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 255px;
	display: flex;
	flex-direction: column;
	align-items: center;
	border-left: 1px solid $gray-5;
	padding-left: 20px;
	overflow: auto;

	&::-webkit-scrollbar {
		display: none;
	}

	@media (max-width: 1240px) {
		bottom: 185px;
	}

	@media (max-width: 991px) {
		position: unset;
		border-left: unset;
		padding-left: unset;
	}
}

.product__img-wrap {
	width: 100%;
	padding: 35px;

	&:not(:last-of-type) {
		border-bottom: 1px solid $gray-5;

		@media (max-width: 991px) {
			border-bottom: unset;
			padding: 20px 0;
		}
	}

	&:last-of-type {
		@media (max-width: 991px) {
			border-bottom: 1px solid $gray-5;
		}
	}
}

.product__img {
	margin: 0 auto;
	transition: 0.6s;

	&:hover {
		transform: scale(1.05);
	}
}

.product__next-item {
	position: relative;
	display: flex;
	align-items: center;
	border-bottom: 1px solid $gray-5;
	margin-bottom: 55px;
	padding-left: 20px;

	@media (max-width: 1240px) {
		padding-bottom: 10px;
	}

	@media (max-width: 991px) {
		padding-top: 20px;
		padding-right: 20px;
	}
}

.product__next-item-wrap {
	width: 100%;
	max-width: 520px;

	@media (max-width: 991px) {
		max-width: unset;
	}
}

.product__next-item-title {
	@include underline($text-color);
	background-size: 1px 2px;
	background-position: 0 90%;

	display: inline-block;
	font-size: 40px;
	line-height: 1.25;
	font-family: $title-font;
	color: $text-color;
	margin-bottom: 15px;
	font-weight: 400;

	&:hover {
		@include underline($gray-1);
		background-size: 1px 2px;
		background-position: 0 90%;

		color: $gray-1;
	}

	@media (max-width: 1240px) {
		font-size: 24px;
	}
}

.product__next-item-text {
	font-size: 24px;
	line-height: 1.3;
	margin-bottom: 5px;
	color: $gray-1;

	@media (max-width: 1240px) {
		font-size: 18px;
	}

	@media (max-width: 991px) {
		font-size: 14px;
	}
}

.product__next-item-btn {
	background: #f5f5f5 url(../img/arrow-left-gray.svg) center/contain no-repeat;
	background-size: 40% 40% !important;
	transform: rotate(180deg);
	border-radius: 50%;
	width: 60px;
	height: 60px;
	cursor: pointer;
	outline: 0;
	margin-left: 35px;
	flex-shrink: 0;

	&:hover {
		background: #ddd url(../img/arrow-left-gray.svg) center no-repeat;
	}

	@media (max-width: 991px) {
		width: 30px;
		height: 30px;
	}
}

.product__article {
	max-width: 1540px;
	margin: 300px auto 120px;
	padding-top: 100px;
	padding-bottom: 150px;
	background: linear-gradient(to right, transparent, transparent 27%, $gray-8 27%, $gray-8 100%);

	@media (max-width: 991px) {
		margin-top: 0;
		margin-bottom: 50px;
		padding: 80px 10px 80px;
	}
}

.product__article-title {
	font-size: 40px;
	line-height: 1.25;
	font-family: $title-font;
	margin-bottom: 40px;
	max-width: 790px;
	font-weight: 400;

	@media (max-width: 991px) {
		font-size: 24px;
		font-weight: 900;
		margin-bottom: 25px;
	}
}

.product__article-text {
	color: $gray;
	font-size: 18px;
	line-height: 1.55;
	max-width: 790px;
	padding-right: 100px;

	@media (max-width: 991px) {
		font-size: 14px;
		padding-right: unset;
	}
}

.product__slider-title {
	font-family: $title-font;
	font-size: 32px;
	margin-bottom: 42px;
	line-height: 1.25;
	font-weight: 400;
	text-align: center;

	@media (max-width: 991px) {
		font-size: 24px;
		font-weight: 900;
		margin-bottom: 25px;
	}
}

.product__video-section {

	@media (max-width: 991px) {
		margin-left: -10px;
		margin-right: -10px;
	}
}
