// В этом файле должны быть стили для БЭМ-блока product, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий
@import "../../assets/styles/variables.scss";
@import "../../assets/styles/mixins.scss";

.product {
	@include container;
}

.product__flex {
	max-width: 1540px;
	margin: 75px auto 0;
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid $gray-5;
}

.product__box {
	flex-grow: 1;

	&--description {
		max-width: 530px;
		flex-shrink: 0;
	}

	&--gallery {
		margin-left: 90px;
		max-width: 850px;
	}
}

.product__title {
	font-family: $title-font;
	font-size: 40px;
	margin-bottom: 15px;
	line-height: 1.25;
}

.product__subtitle {
	font-size: 16px;
	text-transform: uppercase;
	line-height: 1.4;
	margin-bottom: 35px;
	color: $gray-1;
}

.product__description {
	font-size: 18px;
	line-height: 1.6;
	max-width: 530px;
	color: $gray;
	margin-bottom: 35px;
}

.product__price-wrap {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.product__button {
	width: 100%;
	max-width: 290px;
}

.product__price {
	font-family: $title-font;
	font-size: 24px;
	font-weight: 400;
}

.product__gallery {
	display: flex;
	flex-direction: column;
	align-items: center;
	border-left: 1px solid $gray-5;
	padding-left: 20px;
}

.product__img-wrap {
	width: 100%;
	padding: 35px;

	&:not(:last-of-type) {
		border-bottom: 1px solid $gray-5;
	}
}

.product__img {
	margin: 0 auto;
	transition: 0.6s;

	&:hover {
		transform: scale(1.05);
	}
}

.product__next-item {
	margin-top: 200px;
	display: flex;
	align-items: center;
	border-bottom: 1px solid $gray-5;
	margin-bottom: 55px;
	padding-left: 20px;
}

.product__next-item-wrap {
	width: 100%;
	max-width: 520px;
}

.product__next-item-title {
	@include underline($text-color);
	background-size: 1px 2px;
	background-position: 0 90%;

	display: inline-block;
	font-size: 40px;
	line-height: 1.25;
	font-family: $title-font;
	color: $text-color;
	margin-bottom: 15px;

	&:hover {
		@include underline($gray-1);
		background-size: 1px 2px;
		background-position: 0 90%;

		color: $gray-1;
	}
}

.product__next-item-text {
	font-size: 24px;
	line-height: 1.3;
	margin-bottom: 5px;
	color: $gray-1;
}

.product__next-item-btn {
	background: #f5f5f5 url(../img/arrow-left-gray.svg) center/contain no-repeat;
	background-size: 40% 40%!important;
	transform: rotate(180deg);
	border-radius: 50%;
	width: 60px;
	height: 60px;
	cursor: pointer;
	outline: 0;
	margin-left: 35px;

	&:hover {
		background: #ddd url(../img/arrow-left-gray.svg) center no-repeat;
	}
}

.product__article {
	max-width: 1540px;
	margin: 300px auto 120px;
	padding-top: 100px;
	padding-bottom: 150px;
	background: linear-gradient(to right, transparent, transparent 27%, $gray-8 27%, $gray-8 100%);
}

.product__article-title {
	font-size: 40px;
	line-height: 1.25;
	font-family: $title-font;
	margin-bottom: 40px;
	max-width: 790px;
}

.product__article-text {
	color: $gray;
	font-size: 18px;
	line-height: 1.55;
	max-width: 790px;
	padding-right: 100px;
}
